.item-a {
  grid-area: header;
  text-align: center;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}

.item-d {
  grid-area: settings;
}

.container {
    display: grid;

    grid-template-columns: 500px 500px 275px auto;
    grid-template-rows: auto;
  
  grid-template-areas:
    "header header header header"
    "main main settings sidebar";
}

#author-info {
  font-style: italic;
}
